@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
$colorOne: #333B5B; //metal blue
$cTwo: #29183A; //midnight blue
$lightPurple: #864DD9;
$pinkPurple: #CF53F9; //almost pink purple
$purple: #7127AC; //purple
$mauve: #9D5E8A; //mauve
$peach: #EF8C99; //peach pink
$pink: #F94CFB; //pop pink
$blue: #2170F9; //electric blue
$brightGreen: #16ffbd;
$lightBlue: #cafafe;
$seaweed: #3feee6;
$darkPurple: rgba(35,21,45,.5);
$darkBack: #02051E;
$purpleGradient: linear-gradient(90deg, rgba(35,21,45,.95) 0%, rgba(66,34,85,.95) 27%, rgba(42,4,28,.95) 57%, rgba(60,6,40,.95) 76%, rgba(105,15,71,.95) 99%);
$blueSkyGradient: linear-gradient(360deg,rgba(72,52,117,.98)0%, rgba(72,52,117,.98)10%,rgba(43, 47, 119,.95)27%,rgba(20, 24, 82,.95) 36%, rgba(7, 11, 52,.95) 79%);
$darkSkyGradient: linear-gradient(180deg,rgba(7, 11, 5,.95),rgba(64,46,105,.98));
$strobeBarPadding: 0.25rem;
$strobeBarContainerPadding: 0.5rem;
$codeFontFamily: 'Source Code Pro', monospace;
/* RGB: (107, 73, 132) RGB: (72, 52, 117) RGB: (43, 47, 119) RGB: (20, 24, 82) RGB: (7, 11, 52) $b-img:linear-gradient(to top, #0250c5 0%, #d43f8d 100%); $bck: rgb(35,21,45); $b-grad:linear-gradient(90deg, rgba(35,21,45,1) 0%, rgba(66,34,85,1) 27%, rgba(42,4,28,1) 57%, rgba(60,6,40,1) 76%, rgba(105,15,71,1) 99%); $bck2: rgb(14,20,54); $b-grad2: radial-gradient(circle, rgba(14,20,54,1) 22%, rgba(141,45,153,1) 83%, rgba(45,1,32,1) 100%); */