/* purple haze */
$color1:#333B5B;
$c2:#29183A;
$c5:#864DD9; 
$c6:#CF53F9;
$c7:#7127AC;
$c8:#9D5E8A;
$c9:#EF8C99;
$c10:#F94CFB;
$c11:#2170F9;

/*vibrant*/
$c1:#FC4445;
$c2:#3FEEE6;
$C3:#55BCC9;
$C4:#97CAEF;
$C5:#CAFAFE;

/*pruple again*/
$C1:#D83F87;
$C2:#2A1B3D;
$C3:#44318D;
$C4:#E98074;
$C5:#A4B3B6;

/*pink fun*/
$C1:#A1C3D1;
$C2:#B39BC8;
$C3:#F0EBF4;
$C4:#F172A1;
$C5:#E64398;

/*goldie*/
$C1:#806543;
$C2:#33266E;
$C3:#111111;
$C4:#542F34;
$C5:#A6607C;

/*watermelon*/
$C1:#501F3A;
$C2:#CB2D6F;
$C3:#CCCCCC;
$C4:#14A098;
$C5:#0F292F;

/*limepink*/
$C1:#C34271;
$C2:#F070A1;
$C3:#16FFBD;
$C4:#12C998;
$C5:#439F76;

/*
$C1:#;
$C2:#;
$C3:#;
$C4:#;
$C5:#;
*/

/*
gradients
premium dark #434343 → #000000
bubblegum pimk #ff758c → #ff7eb3
#42275a → #734b6d
#eecda3 → #ef629f
#141e30 → #243b55
*/

$b-img:linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
//background: rgb(35,21,45);
$b-grad:linear-gradient(90deg, rgba(35,21,45,1) 0%, rgba(66,34,85,1) 27%, rgba(42,4,28,1) 57%, rgba(60,6,40,1) 76%, rgba(105,15,71,1) 99%);
