<div #portContainer id="portContainer" class="transition-container">
  <div class="title neon">
    Libations
  </div>
  <div class="cocktails">
    <div class="cock-row">
      <div (tap)="onTap('https://www.laurenbriddell.com/index.html')" inViewport (inViewportAction)="tempt($event)" class="cock">
        <img src="./../../assets/cocktails/caipirinha.svg" alt="">
        <a class="tryCock" href="https://www.laurenbriddell.com/index.html" target="_blank">Try!</a>
      </div>
      <div class="cock-explain">
        <div class=cock-explain-title>Laurens Website</div>
        <div class=cock-explain-description>
          a combination of handlbar partials for reuse, a dash of equal parts JQuery and Bootstrap,
          and finally a splash of NodeJS Express to get it going!
        </div>
      </div>
    </div>
    <div class="cock-row">
      <div class="cock-explain">
        <div class=cock-explain-title>SFXbyGel Website</div>
        <div class=cock-explain-description>
          Intense Javascript flavor effects and a shot of Handlebar partials,
          JQuery, and NodeJS express!
        </div>
      </div>
      <div (tap)="onTap('http://sfxbygel.com/')" inViewport (inViewportAction)="tempt($event)" class="cock">
        <img src="./../../assets/cocktails/cocktail.svg" alt="">
        <a class="tryCock" href="http://sfxbygel.com/" target="_blank">Try!</a>
      </div>

    </div>
    <div class="cock-row">
      <div (tap)="onTap('http://bellaveats.com/')" inViewport (inViewportAction)="tempt($event)" class="cock">
        <img src="./../../assets/cocktails/cocktail2.svg" alt="">
        <a class="tryCock" href="http://bellaveats.com/" target="_blank">Try!</a>
      </div>
      <div class="cock-explain">
        <div class=cock-explain-title>Evie Oldschool Website</div>
        <div class=cock-explain-description>
          Sass-y SVG mixed with Javascript, JQuery and NodeJS
        </div>
      </div>

    </div>
    <div class="cock-row">
      <div (tap)="onTap('http://teenhelpnow.com/')" inViewport (inViewportAction)="tempt($event)" class="cock">
        <img src="./../../assets/cocktails/ice-tea.svg" alt="">
        <a class="tryCock" href="http://teenhelpnow.com/" target="_blank">Try!</a>
      </div>
      <div class="cock-explain">
        <div class=cock-explain-title>Angular Elixer</div>
        <div class=cock-explain-description>
          Most Angular elixers are with private companys. Please ask me about them! This elixer is in its beginning
          stages!
        </div>
      </div>
    </div>

  </div>
  <div routerLink="/bye" class="exit">
    <h1>EXIT</h1>
  </div>
</div>